.bell-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
}
.bell-icon {
    padding: 15px;
    background-color: gray;
    border-radius: 10px;
    margin-right: 60px;
}
.bell-heading {
    font-family: "Roboto";
    font-size: 24px;
    color: white;
}