ul li {
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
   
}

input {
    height: 35px;
    width: 180px;
    border-radius: 10px;
    border-width: 0px;
    outline-width: 0px;
    background-color: rgb(43, 43, 40);
    
}
.navbar {
    margin-bottom: 30px;
}
.main-page {
    padding: 20px;
}
.tinymovies{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    margin-top: 10px;
    color: white;
}
.inputfield{
    background-color: rgb(43, 43, 40);
    padding: 10px;
    padding-bottom: 5px;
}


